<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

</head>
<body background="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAz69oPZkliM1-55mnVYoSUJYdRVwgeS2R7CJTWMNWVMmfXuPCwQ">
    <nav class="navbar navbar-default navbar-static-top">
        <ul class="nav navbar-nav bg-dark">
            <li><a class="navbar-brand" href="{% url 'index' %}"><img src="http://i63.tinypic.com/a26pnp.png" align="left"></a></li>
            {% if user.is_authenticated %}
                <li><a class="navbar-link" href="">New post</a></li>
            {% else %}
                <li><a class="navbar-link" href="{% url 'admin:index'%}">Admin</a> </li>
            {% endif %}
            {% if user.is_authenticated %}
                <li><a class="navbar-link" href="{% url 'blog:show_profile' %}">User Profile</a></li>
            {% else %}
                <li><a class="navbar-link" href="{% url 'blog:register' %}">Register</a></li>
            {% endif %}
            {% if user.is_authenticated %}
                <li><a class="navbar-link" href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a class="navbar-link" href="{% url 'blog:user_login' %}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    <div class="container">
        {% block body_block %}
        {% endblock %}
    </div>
</body>
</html>