{% extends 'blog/base.html' %}
{% load staticfiles %}


{% block body_block %}
	<div class="dubba">
        <h1>Log in</h1>
        <form action="{% url 'blog:user_login' %}" method="post">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" name="username" placeholder="Username"><br>
            <label for="password">Password</label>
            <input type="password" name="password"><br><br>
            <input type="submit" name="" value="Log in" align="middle">
        </form>
	</div>
	<style type="text/css">
        h1{
            text-align: center;
        }
		.dubba{
			border-radius: 10px;
			border: 2px solid black;
			background-color: white;
			font-family: sans-serif;
			text-align: center;
			height: 300px;
			width:  300px;
			margin-top: 50px;
			margin-left: 500px;
			box-shadow: 5px 10px;
		}
	</style>
{% endblock %}